<div class="map-page">
  <div
    id="map"
    style="width: 100%;
    height: calc(100vh - 60px);"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <%= link_to "Add an activity", new_thing_path, class: "btn btn-lg btn-primary my-2 mx-auto" %>

  <h1>Full List Of Things To Do</h1>

  <% @things.each do |thing| %>
    <%= link_to thing_path(thing) do %>
     <p><%= thing.name %></p>
    <% end %>
  <% end %>
</div>

