<div class="form-container">
  <h3 class="form-title">Add a new activity you mincebag</h3>

  <%= simple_form_for @thing do |f| %>
    <%= f.input :name, placeholder: "Name", label: false %>
    <%= f.input :category, placeholder: "Category", label: false %>
    <%= f.input :address, placeholder: "Address", label: false %>
    <%= f.input :notes, placeholder: "Notes", label: false %>
    <%= f.input :website, placeholder: "Website", label: false %>
    <div class="popup-ctas">
      <%= link_to "Home", things_path, class: "btn btn-warning" %>
      <%= f.submit "Add Activity", class: "btn btn-success white" %>
    </div>
  <% end %>
</div>
