<div class="form-container">
  <h1><%= @thing.name %></h1>

  <p>Category: <%= @thing.category %></p>
  <p>Notes: <%= @thing.notes %></p>
  <p>Website: <a href="<%= @thing.website %>"><%= @thing.website %></a>
  <p>Address: <%= @thing.address %></p>

  <div class="popup-ctas">
    <%= link_to "Edit", edit_thing_path, class: "btn btn-danger" %>
    <%= link_to "Home", things_path, class: "btn btn-warning" %>
  </div>
</div>
